<!-- inheriting base.html for the common code -->


<!-- inheriting base.html for the common code -->


{% extends 'app/base.html' %} {% load static %}
<!-- Loading static files in Django -->
{% block title %}Forgot Password{% endblock title %} {% block specificCSS %}
<link rel="stylesheet" href='{%static "app/css/login_page.css"%}'>

<!-- <link rel="stylesheet" href='{%static "app/css/forgot_password.css"%}'>  -->


{% endblock specificCSS %} {% block content %}



<!-- Main content start -->
{% include "app/header.html" %}
<main>
    <div class="container  justify-content-center mt-3 ">
        <form action="">
            <div class="row   login-form">

                <div class="col-lg-4 col-md-6 col-sm-8 col-10 text-dark bg-secondary rounded ">
                    <div class="row ">
                        <div class="col-2 bg-dark  pt-1 pb-1">
                            <img class="img-fluid" src="../../static/app/images/apple-touch-icon.png" height="50px" alt="LMS">
                        </div>
                        <div class="col-10 bg-dark text-center pt-1 pb-1 pe-5 ">

                            <h2 class="text-light  ">Forgot Password</h2>
                        </div>

                    </div>

                    <div class="row pt-5">



                        <div class="col-lg-8 col-md-7 col-sm-8 col-8 offset-2">

                            <div class="form-floating mb-1">
                                <input type="password" class="form-control form-control-sm mt-1 text-info" id="password" placeholder="Password" onblur="validatePassword()" required>
                                <label for="password">Password</label>
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-7 col-sm-8 col-8 offset-2 mb-2 error">
                            <span id="password-error" class="form-text text-danger">
                                Must be 8-20 characters long.
                            </span>

                        </div>

                    </div>
                    <div class="row">





                        <div class="col-lg-8 col-md-7 col-sm-8 col-8 offset-2">

                            <div class="form-floating mb-1">
                                <input type="password" class="form-control form-control-sm mt-1 text-info" id="confirm-password" placeholder="Confirm Password" onblur="validateConfirmPassword()" required>
                                <label for="confirm-password">Confirm Password</label>
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-7 col-sm-8 col-8 offset-2 mb-2 error">
                            <span id="confirm-password-error" class="form-text text-danger">
                                Must be 8-20 characters long.
                            </span>

                        </div>

                        <div class="row">
                            <div class="col-8 offset-2">


                                <div class="d-grid gap-2 ">

                                    <input type="submit" class="btn btn-info text-light rounded-pill login-button btn-sm mb-2 ms-lg-4 ms-md-3  mt-2" value="Change Password">

                                </div>
                            </div>
                        </div>

                    </div>





                </div>



            </div>
        </form>
    </div>


    </div>

</main>

<script src="../../static/app/js/forgot_password.js"></script>
<!-- Main Content end-->
{% endblock content %}