<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark  ">
    <div class="container-fluid">
        <a class="navbar-brand" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"><img src="../../static/app/images/apple-touch-icon.png" height="50px" alt="LMS"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'about-us' %}">About us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'contact-us' %}">Contact us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'books' %}">Books</a>
                </li>
                <li class="nav-item dropdown text-info">
                    <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        My Books
                    </a>
                    <ul class="dropdown-menu bg-dark " aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item text-info" href="{% url 'purchased-books' %}">Purchased Books</a></li>
                        <li>
                            <hr class="dropdown-divider text-light">
                        </li>
                        <li><a class="dropdown-item text-info" href="{% url 'issued-books' %}">Issued Books</a></li>


                    </ul>
                </li>




            </ul>



            <form class="d-inline-flex justify-content-evenly me-2 h-50">
                <div class="input-group h-50">
                    <!-- <button class="btn btn-outline-secondary" type="button" id="button-addon1">Button</button> -->
                    <input type="text" class="form-control " aria-label="Example text with button addon" aria-describedby="button-addon1" placeholder="Search Books">
                    <button class="btn btn-outline-light" type="button" id="button-addon1">

                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                      </svg>

                </button>
                    <div class="dropdown ms-2">
                        <button class="btn btn-dark text-light dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                              </svg> &nbsp; 
                              <!-- user's name should be populated here -->
                              Satyam Rajput
                    </button>
                        <ul class="dropdown-menu bg-dark " aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item text-info" href="#">Change Password</a></li>
                            <li><a class="dropdown-item text-info" href="#">Edit profile</a></li>
                            <li><a class="dropdown-item text-info" href="#">Logout</a></li>
                        </ul>
                    </div>

                    <!-- <a class="btn btn-outline-light ms-2" aria-current="page" href="{% url 'sign-up' %}">sign up</a> -->
                </div>
            </form>

        </div>
    </div>
</nav>