/* css file specifically for login page */

:root {
    --bg-color: red;
    --font-color: rgb(124, 92, 85);
    --color1: rgba(19, 214, 155, 0.767);
    --color2: rgb(248, 248, 248);
    --border-color: #404040;
    --font-color2: coral;
    --font-size: 2vh;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('../images/forgot_password.jpeg');
    /* The image used */
    /* Full height */
    height: 100vh;
    width: 100vw;
    /* Center and scale the image nicely */
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--font-color);
}

.submitButton:hover {
    background: linear-gradient(50deg, var(--color1), var(--color2), var(--color1), var(--color2), var(--color1));
}

.box {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input {
    position: relative;
    left: 3vw;
    width: 22vw;
}

.label {
    padding-top: 1vh;
}

.submit {
    width: 20vw;
    position: relative;
    /* left: 3vw; */
    padding-top: 1vh;
}

.submitButton {
    display: flex;
    position: relative;
    justify-content: center;
}

.submit1 {
    display: flex;
    position: relative;
    justify-content: center;
}

.submit input {
    width: 22vw;
    height: 4.5vh;
    border-radius: 2vw;
    padding-bottom: 3vh;
    background: linear-gradient(50deg, var(--color1), var(--color2), var(--color1));
}


/* .submit input: {
    /* background: linear-gradient(20deg, rgba(19, 214, 155, 0.767), white, rgba(19, 214, 155, 0.767)); 
    color: var(--font-color);
} */

.font-style {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    color: var(--font-color2);
}

.font-weight {
    font-size: var(--font-size);
}

.form {
    position: relative;
    top: 10vh;
    height: 40vh;
    width: 30vw;
    /* background-color: rgba(112, 110, 110, 0.8); */
    background: linear-gradient(50deg, var(--color1), var(--color2), var(--color1), var(--color2), var(--color1));
    border: 2px solid var(--border-color);
    border-radius: 2vw;
    min-width: 600;
}

.anchor {
    display: flex;
    position: relative;
    justify-content: center;
    color: var(--font-color2);
    padding-top: 5px;
}

.anchor:hover {
    color: var(--font-color);
    text-decoration: none;
}

.text-box {
    height: 2em;
    width: 5em;
}

@media screen and (max-height:700px) {
    .form {
        position: relative;
        top: 1vh;
        height: 45vh;
        /*width: 50vw;*/
        /* background-color: rgba(112, 110, 110, 0.8); */
        /* background: linear-gradient(50deg, var(--color1), var(--color2), var(--color1)); */
        border: 2px solid var(--border-color);
        border-radius: 2vw;
    }
    .input {
        position: relative;
        left: 1vw;
        /* width: 45vw; */
    }
    .label {
        padding-top: 1vh;
    }
    /* .submit {
        /* width: 10vw; 
        position: relative;
        left: 1vw;
        padding-top: 1vh;
    } */
    /* .submit input {
        /* width: 45vw; 
        height: 7vh;
        border-radius: 2vw;
        padding-bottom: 2vh;
    } */
    .font-style {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-style: italic;
        color: var(--font-color2);
        ;
    }
    .font-weight {
        font-size: var(--font-size);
    }
    .smaller {
        font-size: var(--font-size);
    }
}

@media screen and (max-width:1000px) {
    .form {
        position: relative;
        top: 10px;
        height: 40vh;
        /*width: 50vw;*/
        /* background-color: rgba(112, 110, 110, 0.8); */
        /* background: linear-gradient(50deg, var(--color1), var(--color2), var(--color1)); */
        border: 2px solid var(--border-color);
        border-radius: 2vw;
    }
    .smaller {
        font-size: var(--font-size);
        ;
    }
    .font-weight {
        font-size: var(--font-size);
    }
    .anchor {
        font-size: var(--font-size);
    }
}

@media screen and (max-width:562px) {
    .form {
        position: relative;
        top: 10px;
        height: 55vw;
        /*width: 50vw;*/
        /* background-color: rgba(112, 110, 110, 0.8); */
        /* background: linear-gradient(50deg, var(--color1), var(--color2), var(--color1)); */
        border: 2px solid var(--border-color);
        border-radius: 2vw;
    }
    .smaller {
        font-size: var(--font-size);
        ;
    }
    .font-weight {
        font-size: var(--font-size);
    }
    .anchor {
        font-size: var(--font-size);
    }
}

@media screen and (max-width:786px) {
    .form {
        position: relative;
        top: 10px;
        height: 52vh;
        /*width: 50vw;*/
        /* background-color: rgba(112, 110, 110, 0.8); */
        /* background: linear-gradient(50deg, var(--color1), var(--color2), var(--color1)); */
        border: 2px solid var(--border-color);
        border-radius: 2vw;
    }
    .input {
        position: relative;
        left: 1vw;
        /* width: 45vw; */
    }
    .label {
        padding-top: 10px;
    }
    /* .submit {
        /* width: 10vw; 
        position: relative;
        left: 1vw;
        padding-top: 10px;
    } */
    /* .submit input {
        /* width: 45vw; 
        height: 6vh;
        border-radius: 10px;
        padding-bottom: 10px;
    } */
    .font-style {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-style: italic;
        color: var(--font-color2);
        ;
    }
    .error {
        visibility: hidden;
    }
    .smaller {
        font-size: var(--font-size);
        ;
    }
    .font-weight {
        font-size: var(--font-size);
    }
    .anchor {
        font-size: var(--font-size);
    }
}

.error {
    font-size: smaller;
    visibility: hidden;
}